* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.main {
    position: relative;
    grid-area: main-view;
    min-height: 0;
    padding-top: 4rem;
    overflow: scroll;
    width: 100%;
    background: linear-gradient(175deg, rgb(138, 29, 65) 0%, rgb(138, 29, 65) 0%, rgb(128, 12, 50) 50%);
}