@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;700&display=swap');

:root {
    --bright-font-color: rgb(255, 245, 228);
    --dark-font-color: rgb(240, 164, 164);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Alexandria', sans-serif;
}

body, htnl {
    width: 100vw;
    height: 100vh;
}

#root {
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}