* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.Footer {
    grid-area: now-playing-bar;
    width: 100%;
    z-index: 4;
    background: linear-gradient(90deg, rgb(241, 123, 123) 0%, rgb(228, 95, 122) 50%, rgb(179, 34, 82) 100%);
}
