.input-search-container {
    min-width: 33%;
    height: 60%;
    display: flex;
    align-items: center;
    background-color: var(--bright-font-color);
    border-radius: 1000px;
}

.input-search-container::before {
    background-image: url('https://www.offidocs.com/images/magnifyingglassmagnificationfreevectorgraphiconpixabay.jpg');
    background-size: 1.6rem, 1.6rem;
    display: inline-block;
    width: 1.6rem; 
    height: 1.6rem;
    margin-left: 3%;
    content:"";
}


.input-search-container input {
    width: 83%;
    height: 100%;
    margin-left: 3%;
    color: black;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 0.9rem;
    border: none;
}

.input-search-container input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    cursor: pointer;

    height: 1.2rem;
    width: 1.2rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://cdn-icons-png.flaticon.com/512/109/109602.png");
}